.loading
  text-align center

.selectors
  select,button
    background #85BF25
    color #fff
    width 268px
    padding 5px
    font-size 16px
    height 34px
    margin 20px 40% 20px 40%
  button
    color black

#parent
  text-align center

#Centered
  display inline-block
  max-width 95%



h4,h1
  font-family Georgia, "Times New Roman", Times, serif
  font-size 26px
  margin 50px 0
  text-align center
  font-weight normal
  color #222

h1
  font-size 46px